In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import math as m

In [2]:
df1 = pd.read_csv("./data/stars-sector1.csv", nrows = 1000)

In [3]:
df1['parallax']

0      2.618833
1      1.742291
2      5.692796
3      3.750882
4      4.257022
         ...
995    3.887415
996    1.388418
997    2.326007
998    0.333606
999    2.070918
Name: parallax, Length: 1000, dtype: float64

In [4]:
df1.columns

Index(['solution_id', 'designation', 'source_id', 'random_index', 'ref_epoch',
       'ra', 'ra_error', 'dec', 'dec_error', 'parallax', 'parallax_error',
       'parallax_over_error', 'pmra', 'pmra_error', 'pmdec', 'pmdec_error',
       'ra_dec_corr', 'ra_parallax_corr', 'ra_pmra_corr', 'ra_pmdec_corr',
       'dec_parallax_corr', 'dec_pmra_corr', 'dec_pmdec_corr',
       'parallax_pmra_corr', 'parallax_pmdec_corr', 'pmra_pmdec_corr',
       'astrometric_n_obs_al', 'astrometric_n_obs_ac',
       'astrometric_n_good_obs_al', 'astrometric_n_bad_obs_al',
       'astrometric_gof_al', 'astrometric_chi2_al', 'astrometric_excess_noise',
       'astrometric_excess_noise_sig', 'astrometric_params_solved',
       'astrometric_primary_flag', 'astrometric_weight_al',
       'astrometric_pseudo_colour', 'astrometric_pseudo_colour_error',
       'mean_varpi_factor_al', 'astrometric_matched_observations',
       'visibility_periods_used', 'astrometric_sigma5d_max',
       'frame_rotator_object_type', 'matched_observations',
       'duplicated_source', 'phot_g_n_obs', 'phot_g_mean_flux',
       'phot_g_mean_flux_error', 'phot_g_mean_flux_over_error',
       'phot_g_mean_mag', 'phot_bp_n_obs', 'phot_bp_mean_flux',
       'phot_bp_mean_flux_error', 'phot_bp_mean_flux_over_error',
       'phot_bp_mean_mag', 'phot_rp_n_obs', 'phot_rp_mean_flux',
       'phot_rp_mean_flux_error', 'phot_rp_mean_flux_over_error',
       'phot_rp_mean_mag', 'phot_bp_rp_excess_factor', 'phot_proc_mode',
       'bp_rp', 'bp_g', 'g_rp', 'radial_velocity', 'radial_velocity_error',
       'rv_nb_transits', 'rv_template_teff', 'rv_template_logg',
       'rv_template_fe_h', 'phot_variable_flag', 'l', 'b', 'ecl_lon',
       'ecl_lat', 'priam_flags', 'teff_val', 'teff_percentile_lower',
       'teff_percentile_upper', 'a_g_val', 'a_g_percentile_lower',
       'a_g_percentile_upper', 'e_bp_min_rp_val',
       'e_bp_min_rp_percentile_lower', 'e_bp_min_rp_percentile_upper',
       'flame_flags', 'radius_val', 'radius_percentile_lower',
       'radius_percentile_upper', 'lum_val', 'lum_percentile_lower',
       'lum_percentile_upper'],
      dtype='object')

In [5]:
df1[['teff_val', 'lum_val']]

      teff_val    lum_val
0    5888.2500   1.223455
1    4795.4070   2.798626
2    4944.2603  15.383204
3    5832.0000   2.922812
4    5106.8335   0.584591
..         ...        ...
995  5714.1333   4.349851
996  5872.0000   2.507375
997  4667.5470   7.703400
998  4977.0547  61.653530
999  5516.8750   1.704090

[1000 rows x 2 columns]

In [6]:
pd.set_option('display.max_rows', len(df1.columns))

In [7]:
df1.dtypes

solution_id                           int64
designation                          object
source_id                             int64
random_index                          int64
ref_epoch                           float64
ra                                  float64
ra_error                            float64
dec                                 float64
dec_error                           float64
parallax                            float64
parallax_error                      float64
parallax_over_error                 float64
pmra                                float64
pmra_error                          float64
pmdec                               float64
pmdec_error                         float64
ra_dec_corr                         float64
ra_parallax_corr                    float64
ra_pmra_corr                        float64
ra_pmdec_corr                       float64
dec_parallax_corr                   float64
dec_pmra_corr                       float64
dec_pmdec_corr                      float64
parallax_pmra_corr                  float64
parallax_pmdec_corr                 float64
pmra_pmdec_corr                     float64
astrometric_n_obs_al                  int64
astrometric_n_obs_ac                  int64
astrometric_n_good_obs_al             int64
astrometric_n_bad_obs_al              int64
astrometric_gof_al                  float64
astrometric_chi2_al                 float64
astrometric_excess_noise            float64
astrometric_excess_noise_sig        float64
astrometric_params_solved             int64
astrometric_primary_flag               bool
astrometric_weight_al               float64
astrometric_pseudo_colour           float64
astrometric_pseudo_colour_error     float64
mean_varpi_factor_al                float64
astrometric_matched_observations      int64
visibility_periods_used               int64
astrometric_sigma5d_max             float64
frame_rotator_object_type             int64
matched_observations                  int64
duplicated_source                      bool
phot_g_n_obs                          int64
phot_g_mean_flux                    float64
phot_g_mean_flux_error              float64
phot_g_mean_flux_over_error         float64
phot_g_mean_mag                     float64
phot_bp_n_obs                         int64
phot_bp_mean_flux                   float64
phot_bp_mean_flux_error             float64
phot_bp_mean_flux_over_error        float64
phot_bp_mean_mag                    float64
phot_rp_n_obs                         int64
phot_rp_mean_flux                   float64
phot_rp_mean_flux_error             float64
phot_rp_mean_flux_over_error        float64
phot_rp_mean_mag                    float64
phot_bp_rp_excess_factor            float64
phot_proc_mode                        int64
bp_rp                               float64
bp_g                                float64
g_rp                                float64
radial_velocity                     float64
radial_velocity_error               float64
rv_nb_transits                        int64
rv_template_teff                    float64
rv_template_logg                    float64
rv_template_fe_h                    float64
phot_variable_flag                   object
l                                   float64
b                                   float64
ecl_lon                             float64
ecl_lat                             float64
priam_flags                           int64
teff_val                            float64
teff_percentile_lower               float64
teff_percentile_upper               float64
a_g_val                             float64
a_g_percentile_lower                float64
a_g_percentile_upper                float64
e_bp_min_rp_val                     float64
e_bp_min_rp_percentile_lower        float64
e_bp_min_rp_percentile_upper        float64
flame_flags                           int64
radius_val                          float64
radius_percentile_lower             float64
radius_percentile_upper             float64
lum_val                             float64
lum_percentile_lower                float64
lum_percentile_upper                float64
dtype: object

In [8]:
df1[['teff_val', 'lum_val']]

      teff_val    lum_val
0    5888.2500   1.223455
1    4795.4070   2.798626
2    4944.2603  15.383204
3    5832.0000   2.922812
4    5106.8335   0.584591
..         ...        ...
995  5714.1333   4.349851
996  5872.0000   2.507375
997  4667.5470   7.703400
998  4977.0547  61.653530
999  5516.8750   1.704090

[1000 rows x 2 columns]

In [9]:
# 1 parsec = 3.26 light years 

#column: parallax (in mas, milliarseconds)
## 1 mas = 1/1000 arcseconds
## calculate distance -> d = 1/p (distance in parsecs equals one over parallax angle in arcseconds)

# apparent magnitude 
# measures brightness of a star, also comes in to habitability zone calculation 
# really bright stars have negative magnitude, less bright positive
# apparent magnitude higher than 6 typically not visible with naked eye
# b = (k)1/(d^2) -> (apparent brightness [in W m^-2] is proportional to inverse of distance squared)

In [10]:
def temp_class(K): 
    if K >= 30000: 
        return 'O'
    elif (K >= 10000) & (K < 30000): 
        return 'B'
    elif (K >= 7500) & (K < 10000): 
        return 'A'
    elif (K >= 6000) & (K < 7500): 
        return 'F'
    elif (K >= 5200) & (K < 6000): 
        return 'G'
    elif (K >= 3700) & (K < 5200): 
        return 'K'
    elif (K >= 2400) & (K < 3700): 
        return 'M'
    else: 
        return None

In [11]:
df1['class_temp'] = df1['teff_val'].map(temp_class)

In [12]:
df1.head()

,solution_id,designation,source_id,random_index,ref_epoch,ra,ra_error,dec,dec_error,parallax,...,e_bp_min_rp_percentile_lower,e_bp_min_rp_percentile_upper,flame_flags,radius_val,radius_percentile_lower,radius_percentile_upper,lum_val,lum_percentile_lower,lum_percentile_upper,class_temp
0,1635721458409799680,Gaia DR2 2851858288640,2851858288640,710827874,2015.5,45.132144,0.051487,0.137851,0.039624,2.618833,...,0.0154,0.1405,200111,1.062855,1.038464,1.090551,1.223455,1.187251,1.259659,G
1,1635721458409799680,Gaia DR2 3332894779520,3332894779520,1512134789,2015.5,45.058167,0.037937,0.127404,0.038226,1.742291,...,NaN,NaN,200111,2.423673,2.367469,2.469946,2.798626,2.689419,2.907832,K
2,1635721458409799680,Gaia DR2 7632157690368,7632157690368,830339102,2015.5,45.034337,0.053568,0.235391,0.037913,5.692796,...,NaN,NaN,200111,5.345316,5.201734,5.452383,15.383204,15.173032,15.593377,K
3,1635721458409799680,Gaia DR2 9281425163264,9281425163264,1074475725,2015.5,45.165008,0.045778,0.200060,0.040007,3.750882,...,NaN,NaN,200111,1.674627,1.288279,1.786101,2.922812,2.860702,2.984922,G
4,1635721458409799680,Gaia DR2 12545600306304,12545600306304,614396172,2015.5,45.234476,0.034646,0.318159,0.033514,4.257022,...,0.0450,0.2015,200111,0.976732,0.930710,1.013032,0.584591,0.575970,0.593211,K

In [20]:
df1.loc[df1['designation'] == 'Gaia DR2 2851858288640', 'parallax'].values[0]

2.6188334485233287

In [21]:
def value(designation, column_name): 
    return df1.loc[df1['designation'] == designation, column_name].values[0]

In [24]:
value('Gaia DR2 2851858288640', 'phot_g_mean_mag')

12.363512

In [25]:
def class_constant(star_class): 
    if star_class == 'B': 
        return -2.0 
    elif star_class == 'A': 
        return -0.3
    elif star_class == 'F': 
        return -0.15
    elif star_class == 'G': 
        return -0.4
    elif star_class == 'K': 
        return -0.8
    elif star_class == 'M': 
        return -2.0
    else: 
        return None

In [33]:
def habitability_radii(designation): 
    try: 
        # classify star, using teff_val (effective temperature) as classification stat
        # O type stars have effectively no habitability zone
        # too hot and short lived to allow life to evolve, despite it allowing water to be liquid at some distances
        star_type = temp_class(value(designation, 'teff_val'))
        if star_type == 'O': 
            return None

        # determine absolute magnitude 
        apparent_mag = -2.5 * m.log10(value(designation, 'phot_g_mean_mag'))
        distance = 1 / (value(designation, 'parallax') * 1000)
        absolute_mag = apparent_mag - 5 * m.log10(distance)

        # calculate bolometric magnitude 
        bc = class_constant(star_type)
        bolometric_mag = absolute_mag + bc

        # calculate absolute luminosity of star
        sun_bolometric_mag = 4.75
        absolute_lum = m.pow(10, ((bolometric_mag - sun_bolometric_mag) / -2.5))

        # approximate radii
        # near radii (in AU)
        inner_radius = m.sqrt((absolute_lum / 1.1))
        outer_radius = m.sqrt((absolute_lum / 0.53))

        return [inner_radius, outer_radius]
    except:
        return None

In [35]:
habitability_radii('Gaia DR2 2851858288640')

[0.01371723899957377, 0.0197617369160886]